
# Exclude bin directory
# Exclude bin directory
**/bin/

# Exclude obj directory
**/obj/

# Exclude VS directory
.vs/

# Exclude PhoenixAPITest directory
PhoenixAPITest/

# Exclude PhoenixAPITest directory
PhoenixAPITest/

# Exclude CodeCoverage directory
CodeCoverage/
